<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="prinzn.jana.majaplanerversion1">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Termin.Termin_Erstellung_GUI" />
        <activity android:name=".Termin.Termin_Bearbeitung_GUI" />
        <activity android:name=".Startmenue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Account.Account_Registrieren" />
        <activity android:name=".Account.Account_Einloggen" />
        <activity android:name=".Termin.Termindetails" />
        <activity android:name=".Terminuebersicht.Terminuebersicht" />
        <activity android:name=".Kalender.Kalender_GUI" />
        <activity android:name=".Freunde.Freunde" />
    </application>

</manifest>